// Utils
@import "./styles/utils/variables";
@import "./styles/utils/resets";
@import "./styles/utils/typography";

// Compents styles
@import "./styles/header";
@import "./styles/cards";
@import "./styles/home";
@import "./styles/contact";
body {
  background-color: $dg_background_dark;
}
.App {
  max-width: 1240px;
  min-height: 100%;
  margin: 0 auto;
}
